<section class="home-page">
   <section class="info" *ngIf="loggedinUser;else login">
      <h1 class="title">Hello {{loggedinUser.name}},</h1>
      <p><img src="./assets/imgs/coins.png" alt="">: {{loggedinUser.coins}} $</p>
      <p><img src="./assets/imgs/bitcoin.png" alt="">: {{bitcoinVal}}</p>
   </section>
   <app-move-list class="moves" *ngIf="loggedinUser" [moves]="lastMoves"></app-move-list>
   <ng-template #login>
      <div class="login">

         <h1 class="title">Login</h1>
         <label for="name">Name: </label>
         <input type="text" id:name [(ngModel)]="userName">
         <button class="simple-button" (click)="onLogin()">Login</button>
      </div>
   </ng-template>
</section>