 <form class="form-contact-edit" #editForm="ngForm"
(ngSubmit)="saveContact(editForm)" appIdentityRevealed>
   <h1 class="title">{{title}}</h1>
   <section class="sub-title">
      <label for="name">Name:</label>
      <small *ngIf="name.invalid && (name.dirty || name.touched)">Name is required field </small>
   </section>
   <input #name="ngModel" type="text" id="name" name="name" required [ngModel]="contact.name">

   <section class="sub-title">
      <label for="email">Email:</label>
      <small *ngIf="email.invalid && (email.dirty || email.touched)">Email is required field </small>
   </section>
   <input type="text" id="email" name="email" #email="ngModel" [ngModel]="contact.email" required>

   <section class="sub-title">
      <label for="phone">Phone:</label>
      <small *ngIf="phone.invalid && (phone.dirty || phone.touched)">Phone is required field </small>
   </section>
   <input type="text" id="phone" name="phone" #phone="ngModel" [ngModel]="contact.phone" required>

   <button [disabled]="!name.value || !email.value || !phone.value"
      class="send-btn simple-button">Save</button>
</form>