<section class="contact-details" *ngIf="contact;else loading">
   <section class="actions">
      <a routerLink="/contact" class="simple-button back">
         <span class="material-icons-outlined">arrow_back</span>
      </a>
      <div class="right-buttons">
         <button class="simple-button btn-action" (click)="removeContact()">
            <span class="material-icons-outlined">delete_outline</span>
         </button>
         <a [routerLink]="['/contact/edit/' + contact._id]">
            <button class="simple-button btn-action">
               <span class="material-icons-outlined">edit</span>
            </button> </a>
      </div>
   </section>
   <div class="main-container">
      <div class="info">
         <img src="./assets/imgs/contact.png" alt="">
         <p><span>Name: </span>{{contact.name}}</p>
         <p><span>Email: </span>{{contact.email}}</p>
         <p><span>Phone: </span>{{contact.phone}}</p>
         <app-transfer-fund [contactToTransfer]="contact"></app-transfer-fund>
         <app-move-list class="list-moves" [moves]="movesByContact"></app-move-list>
      </div>
   </div>
</section>
<ng-template #loading>
   <h1>Loading...</h1>
</ng-template>