/* You can add global styles to this file, and also import other style files */

*{
   box-sizing: border-box;
}
html {
   font-family: OpenSans, sans-serif;
   font-size: 16px;
   scroll-behavior: smooth;
 }
body{
   margin: 0;
   min-height: 100vh;
   background-color: rgb(36, 36, 36);
   color:white;
   display: grid;
   grid-template-columns: 1rem 1fr 1rem;
   & * {
     grid-column: 2;
   }
}
img {
   max-width: 100%;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
   margin: 0;
   font-weight: normal;
   padding: 0;
 }
 
 a {
   text-decoration: none;
   color: inherit;
 }
 
 button {
   font-family: inherit;
   cursor: pointer;
   * {
     pointer-events: none;
   }
 }
 
 ul{
    padding: 0;
    list-style: none;
 }
 
 input {
   font-family: inherit;
   text-align: inherit;
 }
 
// MAC like scrollbar
::-webkit-scrollbar {
   width: px;
   background-color: rgba(59, 59, 59, 0.377);
   -webkit-border-radius: 100px;
 }
 
 ::-webkit-scrollbar:hover {
   background-color: rgba(0, 0, 0, 0.09);
 }
 
 ::-webkit-scrollbar-thumb:vertical {
   background: rgba(0, 0, 0, 0.5);
   -webkit-border-radius: 100px;
 }
 
 ::-webkit-scrollbar-thumb:vertical:active {
   -webkit-border-radius: 100px;
 }

 .simple-button {
   background: transparent;
   color: black;
   font-size: inherit;
   font-family: inherit;
   border: 0;
   opacity: 0.6;
   transition: 0.3s all;
   padding: 0;
   cursor: pointer;

   &:disabled {
       cursor: initial;
       opacity: 0.2;
   }

   i {
       display: inline-block;
       width: 100%;
       height: 100%;
   }

   &:hover:not(:disabled) {
       opacity: 1;
   }
}